<div class="detail-country">
    <img src="{{flag}}" alt="{{name}}" class="flag" width="50">
    <h2 class="info-name-country">{{name}}</h2>
</div>

<div class="detail-country">
    <h2 class="title">Capital: &nbsp; </h2> {{capital}}
</div>

<div class="detail-country">
    <h2 class="title">Population: &nbsp; </h2> {{population}}
</div>

<div class="detail-country">
    <h2 class="title">Languages: &nbsp; </h2> 
        {{#each this.languages}}
            {{this.name}}, 
        {{/each}}
</div>